@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Swiper Pagination Dots Custom Styling */
.swiper-pagination-bullet {
    background: #FF99CC !important; 
    opacity: 1 !important; 
    width: 10px !important; 
    height: 10px !important; 
    margin: 0 4px !important; 
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: #ec4899 !important;
    opacity: 1;
    width: 15px; 
    border-radius: 5px;
}

.swiper {
    padding-bottom: 45px !important;
}

/* Price slider - prod filter*/
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto; 
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-appearance: none;
  background-color: #ec4899; 
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ec4899;
  border: 2px solid white;
  cursor: pointer;
}